$gray: #f5f5f5;
$white: #fff;
$orange: rgb(255, 68, 0);
$green: rgb(1, 129, 1);
$blue: #058aff;
$dark-blue: #0056b3;
$dark-gray: #747474;

$small-breakpoint: 576px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$x-large-breakpoint: 1200px;
